.first {
    background-color: aqua;
    color: crimson;
    text-size-adjust: 30;
    font-style: italic;
    padding: 50px;
    margin: 50px;
}

.second {
    background-color: burlywood;
    color: green;
    font-weight: bold;
}

h1 {
    color: blue;
}

p {
    color: black;
}

.roze{
    color:pink;
}
.purple{
    color:purple;
}